{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "10.13.0",
                    "JavaScript": "es6"
                }
            }
        ]
    ]
}
